[gpg]
	format = ssh
[user]
	signingkey = ~/.ssh/id_github.pub
	name = Nyoman Sunima
	email = nyomansunima@gmail.com
[commit]
	gpgsign = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
